<a href="https://colab.research.google.com/github/gitanuurage/EDA/blob/main/BDS41_06DEC2021.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


```
Day 1

Introduction to Python
Hello World Program
Features of Python
Variables
Keywords & Identifier
Dynamically Typed
Data Type
```

In [ ]:
print('Welcome to BDS41 - Data Science')

Welcome to BDS41 - Data Science

In [ ]:
print('Welcome World')

Welcome World

what is variable in programming language?

named memory space

In [ ]:
school_name = 'Shri Shiv Chattrapati Shivaji Maharaj High School'
school_location = 'Keshav Nagar'
school_city = 'Pune'
school_state = 'Maharashtra'

'''
variable 'school_name' is name of variable
'Shri Shiv Chattrapati Shivaji Maharaj High School' is value of variable 'school_name'
'''

In [ ]:
name = 'Anurag Arun Edlabadkar'
age = 45
gender = 'M'
city = 'Pune'

In [ ]:
var_name = 'Anurag'
print(var_name)
print(type(var_name))
var_name = 'Arun'
print(var_name)
print(type(var_name))
var_name = 9890781832

print(var_name)
print(type(var_name))
var_name = 'anuurag.edlabadkar@gmail.com'
print(var_name)
print(type(var_name))
var_name = 87.65
print(var_name)
print(type(var_name))

Anurag
<class 'str'>
Arun
<class 'str'>
9890781832
<class 'int'>
anuurag.edlabadkar@gmail.com
<class 'str'>
87.65
<class 'float'>

```
Python is a dynamic, high-level, free open source, and interpreted programming language.

Features in Python
In this section we will see what are the features of Python programming language:

1. Free and Open Source
2. Easy to code
3. Easy to Read
4. Object-Oriented Language
5. GUI Programming Support
6. High-Level Language
7. Large Community Support
8. Easy to Debug
9. Python is a Portable language
10. Python is an Integrated language
11. Interpreted Language:
12. Large Standard Library
13. Dynamically Typed Language
14. Frontend and backend development
```

https://anuurag.com/variable-in-python

```
Dynamic programming language

Programming language paradigm

In computer science, a dynamic programming language is a class of high-level programming languages, which at runtime execute many common programming behaviours that static programming languages perform during compilation. by Wikipedia

Dynamically-typed languages are those (like JavaScript) where the interpreter assigns variables a type at runtime based on the variable's value at the time.
```

#**Tuesday Dec 05, 2023**


```
Day 2



Python Data Type
Built-In Functions
Slicing & Indexing
Positive & Negative
```

In [ ]:
name = 'surendra'
print(name)
print(type(name))

surendra
<class 'str'>

```

1. Standard Data Type
  1. Number
    1. Integer
    2. Float
    3. Complex
  2. Boolean
  3. String

2. Data Structure Data Type
  1. List
  2. Tuple
  3. Set
  4. Dictionary
```

In [ ]:
mobile = 9890781832
print(mobile, type(mobile))
percent = 87.65
print(percent, type(percent))
complx = 12+23j
print(complx, type(complx))
visa = True
print(visa, type(visa))
name = 'Sukesh Mishra'
print(name, type(name))
name = "Sukesh Mishra"
print(name, type(name))
name = '''Sukesh Mishra'''
print(name, type(name))
name = """Sukesh Mishra"""
print(name, type(name))

9890781832 <class 'int'>
87.65 <class 'float'>
(12+23j) <class 'complex'>
True <class 'bool'>
Sukesh Mishra <class 'str'>
Sukesh Mishra <class 'str'>
Sukesh Mishra <class 'str'>
Sukesh Mishra <class 'str'>

In [ ]:
lst1 = ['apple','banana','cherries','dates']
print(lst1, type(lst1))

tup1 = ('suger','tea','coffee','bread')
print(tup1, type(tup1))

set1 = {1,2,3,4,'a','b','c','d',12.23,34.45,56.66,True,False}
print(set1, type(set1))

dict1 = {1:'apple',2:'banana',3:'cherries',4:'dates'}
print(dict1, type(dict1))

['apple', 'banana', 'cherries', 'dates'] <class 'list'>
('suger', 'tea', 'coffee', 'bread') <class 'tuple'>
{False, 1, 2, 3, 4, 'b', 34.45, 12.23, 'd', 'c', 'a', 56.66} <class 'set'>
{1: 'apple', 2: 'banana', 3: 'cherries', 4: 'dates'} <class 'dict'>

#**Built-in Functions of Python List Data Type**

In [ ]:
lst1 = ['apple','banana','cherries','dates','eggfruit','fig','grapes','honeyfruit']
print(lst1, type(lst1))

['apple', 'banana', 'cherries', 'dates', 'eggfruit', 'fig', 'grapes', 'honeyfruit'] <class 'list'>

In [ ]:
print(lst1)
lst1.append('mango')
print(lst1)

['apple', 'banana', 'cherries', 'dates', 'eggfruit', 'fig', 'grapes', 'honeyfruit']
['apple', 'banana', 'cherries', 'dates', 'eggfruit', 'fig', 'grapes', 'honeyfruit', 'mango']

In [ ]:
print(lst1)
lst1.clear()
print(lst1)

['apple', 'banana', 'cherries', 'dates', 'eggfruit', 'fig', 'grapes', 'honeyfruit', 'mango']
[]

In [ ]:
lst1 = ['apple', 'banana', 'cherries', 'dates', 'eggfruit', 'fig', 'grapes', 'honeyfruit', 'mango']

In [ ]:
print(lst1)
lst2 = lst1.copy()
print(lst1, lst2)

['apple', 'banana', 'cherries', 'dates', 'eggfruit', 'fig', 'grapes', 'honeyfruit', 'mango']
['apple', 'banana', 'cherries', 'dates', 'eggfruit', 'fig', 'grapes', 'honeyfruit', 'mango'] ['apple', 'banana', 'cherries', 'dates', 'eggfruit', 'fig', 'grapes', 'honeyfruit', 'mango']

In [ ]:
print(lst1)
lst1.count('apple')

['apple', 'banana', 'cherries', 'dates', 'eggfruit', 'fig', 'grapes', 'honeyfruit', 'mango']

1

In [ ]:
print(lst1)
lst1.extend(['pineapple','custurdapple','greenapple'])
print(lst1)

['apple', 'banana', 'cherries', 'dates', 'eggfruit', 'fig', 'grapes', 'honeyfruit', 'mango']
['apple', 'banana', 'cherries', 'dates', 'eggfruit', 'fig', 'grapes', 'honeyfruit', 'mango', 'pineapple', 'custurdapple', 'greenapple']

In [ ]:
print(lst1)
lst1.index('apple')

['apple', 'banana', 'cherries', 'dates', 'eggfruit', 'fig', 'grapes', 'honeyfruit', 'mango', 'pineapple', 'custurdapple', 'greenapple']

0

In [ ]:
lst1 = ['apple', 'banana', 'cherries', 'dates', 'apple', 'eggfruit', 'fig', 'grapes', 'honeyfruit']
print(lst1)
lst1.index('apple', 5, 8)

['apple', 'banana', 'cherries', 'dates', 'apple', 'eggfruit', 'fig', 'grapes', 'honeyfruit']

ValueError: ignored

In [ ]:
lst1 = ['apple', 'banana', 'cherries', 'dates', 'eggfruit', 'fig', 'grapes', 'honeyfruit', 'mango']
print(lst1)
lst1.insert(1,'apricot')
print(lst1)

['apple', 'banana', 'cherries', 'dates', 'eggfruit', 'fig', 'grapes', 'honeyfruit', 'mango']
['apple', 'apricot', 'banana', 'cherries', 'dates', 'eggfruit', 'fig', 'grapes', 'honeyfruit', 'mango']

In [ ]:
print(lst1)
lst1.pop()
print(lst1)
lst1.pop()
print(lst1)
lst1.pop()
print(lst1)
lst1.pop()
print(lst1)
lst1.pop()
print(lst1)

['apple', 'apricot', 'banana', 'cherries', 'dates', 'eggfruit', 'fig', 'grapes', 'honeyfruit']
['apple', 'apricot', 'banana', 'cherries', 'dates', 'eggfruit', 'fig', 'grapes']
['apple', 'apricot', 'banana', 'cherries', 'dates', 'eggfruit', 'fig']
['apple', 'apricot', 'banana', 'cherries', 'dates', 'eggfruit']
['apple', 'apricot', 'banana', 'cherries', 'dates']
['apple', 'apricot', 'banana', 'cherries']

In [ ]:
lst1 = ['apple', 'apricot', 'banana', 'cherries', 'dates', 'eggfruit', 'fig', 'grapes', 'honeyfruit', 'mango']

In [ ]:
print(lst1)
lst1.pop(3)
print(lst1)

['apple', 'apricot', 'banana', 'cherries', 'dates', 'eggfruit', 'fig', 'grapes', 'honeyfruit', 'mango']
['apple', 'apricot', 'banana', 'dates', 'eggfruit', 'fig', 'grapes', 'honeyfruit', 'mango']

In [ ]:
print(lst1)
lst1.remove('fig')
print(lst1)

['apple', 'apricot', 'banana', 'dates', 'eggfruit', 'fig', 'grapes', 'honeyfruit', 'mango']
['apple', 'apricot', 'banana', 'dates', 'eggfruit', 'grapes', 'honeyfruit', 'mango']

In [ ]:
print(lst1)
lst1.reverse()
print(lst1)

['apple', 'apricot', 'banana', 'dates', 'eggfruit', 'grapes', 'honeyfruit', 'mango']
['mango', 'honeyfruit', 'grapes', 'eggfruit', 'dates', 'banana', 'apricot', 'apple']

In [ ]:
lst1.sort()
print(lst1)

['apple', 'apricot', 'banana', 'dates', 'eggfruit', 'grapes', 'honeyfruit', 'mango']

In [ ]:
lst1 = ['apple', 'banana', 'cherries', 'dates', 'eggfruit', 'fig', 'grapes', 'honeyfruit', 'mango']
print(lst1)

['apple', 'banana', 'cherries', 'dates', 'eggfruit', 'fig', 'grapes', 'honeyfruit', 'mango']

In [ ]:
lst1[0], lst1[1], lst1[2]

In [ ]:
lst1[0:3:1]

In [ ]:
lst1[2:7:1]

In [ ]:
lst1[1::1]

In [ ]:
lst1[::]

In [ ]:
lst1[0:len(lst1):1]

['apple',
 'banana',
 'cherries',
 'dates',
 'eggfruit',
 'fig',
 'grapes',
 'honeyfruit',
 'mango']

In [ ]:
lst1[0:len(lst1):2]

['apple', 'cherries', 'eggfruit', 'grapes', 'mango']

In [ ]:
lst1[::]

['apple',
 'banana',
 'cherries',
 'dates',
 'eggfruit',
 'fig',
 'grapes',
 'honeyfruit',
 'mango']

In [ ]:
lst1[::-1]

['mango',
 'honeyfruit',
 'grapes',
 'fig',
 'eggfruit',
 'dates',
 'cherries',
 'banana',
 'apple']

In [ ]:
lst1

['apple',
 'banana',
 'cherries',
 'dates',
 'eggfruit',
 'fig',
 'grapes',
 'honeyfruit',
 'mango']

#**Wednesday Dec 06, 2023**

In [1]:
lst1 = [12,23,34,45,56,67,78,89,90]

In [2]:
lst1[::]

[12, 23, 34, 45, 56, 67, 78, 89, 90]

In [3]:
lst1[0::]

[12, 23, 34, 45, 56, 67, 78, 89, 90]

In [4]:
lst1[:len(lst1):]

[12, 23, 34, 45, 56, 67, 78, 89, 90]

In [5]:
lst1[::1]

[12, 23, 34, 45, 56, 67, 78, 89, 90]

In [6]:
lst1[:4:]

[12, 23, 34, 45]

In [7]:
lst1[2:6:]

[34, 45, 56, 67]

In [ ]:
# Right to left - Negative Slicing

In [10]:
lst1

[12, 23, 34, 45, 56, 67, 78, 89, 90]

In [9]:
lst1[-1:-(len(lst1)+1):-1]

[90, 89, 78, 67, 56, 45, 34, 23, 12]

In [11]:
lst1[-6::-1]

[45, 34, 23, 12]

In [12]:
lst1[-4:-8:-1]

[67, 56, 45, 34]

In [13]:
lst1

[12, 23, 34, 45, 56, 67, 78, 89, 90]

In [ ]:
positive indexing and positive slicing
negative indexing and positive slicing
negative indexing and negative slicing
positive indexing and negative slicing

In [16]:
lst1[3::1] # positive indexing and positive slicing

[45, 56, 67, 78, 89, 90]

In [15]:
lst1[-6::1] # negative indexing and positive slicing

[45, 56, 67, 78, 89, 90]

In [17]:
lst1[-1:-7:-1] # negative indexing and negative slicing

[90, 89, 78, 67, 56, 45]

In [22]:
lst1[:2:-1] # positive indexing and negative slicing

[90, 89, 78, 67, 56, 45]

```

positive indexing and positive slicing
negative indexing and positive slicing
negative indexing and negative slicing
positive indexing and negative slicing


1. Strings
2. Tuple
```

```

Python Operators

1. Arithmetic operators
2. Assignment operators
3. Comparison operators
4. Logical operators
```

In [28]:
# Python Arithmetic Operators

a= 10
b= 5

print(a+b)
print(a-b)
print(a*b)
print(a/b)

a=13
b=3

print(a%b) # Modulus
print(a//b) # Floor division
print(a**b) # Exponentiation

13*13*13

15
5
50
2.0
1
4
2197

2197

```

Python Assignment Operators

=	x = 5	x = 5
+=	x += 3	x = x + 3
-=	x -= 3	x = x - 3
*=	x *= 3	x = x * 3
/=	x /= 3	x = x / 3
%=	x %= 3	x = x % 3
//=	x //= 3	x = x // 3
**=	x **= 3	x = x ** 3
&=	x &= 3	x = x & 3
|=	x |= 3	x = x | 3
^=	x ^= 3	x = x ^ 3
>>=	x >>= 3	x = x >> 3
<<=	x <<= 3	x = x << 3
```

In [31]:
a = 10
b = 20

a += b
print(a)

a = 10
b = 20

a -= b
print(a)

30
-10

#**Python Comparison Operators**

```
==	Equal	x == y
!=	Not equal	x != y
>	Greater than	x > y
<	Less than	x < y
>=	Greater than or equal to	x >= y
<=	Less than or equal to	x <= y
```

#**Python Logical Operators**

```
and 	Returns True if both statements are true	x < 5 and  x < 10

or	Returns True if one of the statements is true	x < 5 or x < 4

not	Reverse the result, returns False if the result is true	not(x < 5 and x < 10)
```